In [144]:
import pandas as pd

In [145]:
d = pd.read_csv("heart_disease.csv")
d

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [146]:
x = d.iloc[:,0:13]
y = d.iloc[:,13]

In [147]:
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [148]:
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [149]:
from sklearn.model_selection import train_test_split

In [150]:
x_train, x_test,y_train,y_test = train_test_split(x,y,test_size=0.33,random_state=42,stratify=y)

In [151]:
print(x_train.shape)
print(x_test.shape)

(203, 13)
(100, 13)

In [152]:
y_train.value_counts()

1    111
0     92
Name: target, dtype: int64

In [153]:
x_train.value_counts()

age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  ca  thal
38   1    2   138       175   0    1        173      0      0.0      2      4   2       2
29   1    1   130       204   0    0        202      0      0.0      2      0   2       1
59   1    3   178       270   0    0        145      0      4.2      0      0   3       1
58   1    2   112       230   0    0        165      0      2.5      1      1   3       1
              132       224   0    0        173      0      3.2      2      2   3       1
                                                                                       ..
51   1    0   140       299   0    1        173      1      1.6      2      0   3       1
          2   100       222   0    1        143      1      1.2      1      0   2       1
          3   125       213   0    0        125      1      1.4      2      1   2       1
52   0    2   136       196   0    0        169      0      0.1      1      0   2       1
77   1    0   125       304   0    0        162      1      0.0      2      3   2       1
Length: 202, dtype: int64

In [154]:
from sklearn.neighbors import KNeighborsClassifier
ne = KNeighborsClassifier(n_neighbors=15)
ne.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=15)

In [155]:
y_pred = ne.predict(x_test)
y_pred

array([0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1], dtype=int64)

In [156]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [157]:
confusion_matrix(y_pred,y_test)

array([[27, 13],
       [19, 41]], dtype=int64)

In [158]:
accuracy_score(y_pred,y_test)

0.68